.footer {
    display: flex;
    background-color: #131921;
    color: white;
    height: 240px;
    margin-top: auto;
}

.footer__description {
    margin-left: 64px;
    margin-top: 60px;
}

.footer__socials {
    margin-left: 50vw;
    margin-top: 60px;
}

.footer__socials a{
    color: white;
    text-decoration: none;
}
