.imageSlider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageSlider__rightArrow {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 3rem;
    color: rgb(212, 211, 211);
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: 0.5s ease-in-out;
}

.imageSlider__rightArrow:hover {
    transition: 0.5s ease-in-out;
    color: rgb(167, 167, 167);
}

.imageSlider__leftArrow {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 3rem;
    color: rgb(212, 211, 211);
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: 0.5s ease-in-out;
}

.imageSlider__leftArrow:hover {
    transition: 0.5s ease-in-out;
    color: rgb(167, 167, 167);
}

.imageSlider__inactiveImage {
    height: 480px;
    opacity: 0;
}

.imageSlider__activeImage {
    transition: 0.1s ease-in-out;
}