.imageSlider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageSlider__rightArrow {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 3rem;
    color: darkgrey;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.imageSlider__leftArrow {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 3rem;
    color: darkgrey;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.imageSlider__inactiveImage {
    opacity: 0;
}

.imageSlider__activeImage {
    transition: 0.1s ease-in-out;
}