.productPage {
    min-width: 240px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.productPage__image {
    margin-top: 20vh;
    margin-left: 20px;
    width: 60%;
}

.productPage__info h1 {
    margin-top: 20vh;
    font-size: 24px;
    letter-spacing: 0.07em;
}

.productPage__info p {
    letter-spacing: 0.05em;
}